<!-- app/views/shared/_header.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <!--コーヒーロゴ-->
  <span class="material-symbols-outlined">
    coffee_maker
  </span>
  <%= link_to 'BeanBuzz', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to '/posts', class: 'nav-link' do %>
            <i class="fa-solid fa-house"></i>
            Home
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link' do %>
            <i class="fa-solid fa-house"></i>
            Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '/about', class: 'nav-link' do %>
            <i class="fa-solid fa-link"></i>
            About
          <% end %>
        </li>
      <% end %>
      
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to '/posts/new', class: 'nav-link' do %>
            <i class="fa-solid fa-circle-plus"></i>
            New Post
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '/users', class: 'nav-link' do %>
            <i class="fa-solid fa-users"></i>
            Users
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'nav-link' do %>
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <i class="fa-solid fa-user-plus"></i>
            Sign Up
          <% end %>
        </li>
      <% end %>
    </ul>

    <!--ユーザー画像を押すとユーザー詳細へ-->
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-3">
        <li class="nav-item">
          <%= link_to mypage_path do %>
            <% if current_user.user_image.attached? %>
              <%= image_tag current_user.user_image.variant(resize_to_fill: [40, 40]).processed, class: 'rounded-circle', alt: 'User Image' %>
            <% else %>
              <!-- ユーザーアイコン -->
              <span class="material-symbols-outlined">account_circle</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    <% end %>
  
    <% if user_signed_in? %>  
      <%= form_with(url: posts_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
        <%= text_field_tag :search_header, params[:search_header], class: "form-control mr-sm-2", placeholder: "投稿検索", aria_label: "Search", style: 'margin-right: 10px;' %>
        <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    <% end %>
  </div>
</nav>