<!-- app/views/public/posts/show.html.erb -->

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center">
        <%= image_tag @post.user.get_image.variant(resize_to_fill: [40, 40]).processed, class: 'rounded-circle mr-2', alt: 'User Image' %>
        <h5 class="card-title m-0">
          <%= link_to @post.user.name, user_path(@post.user), class: 'text-dark' %>
        </h5>
      </div>
      <div class="card-body">
        <%= image_tag @post.get_image.variant(resize_to_fill: [600, 600]).processed, class: 'card-img-top', alt: 'Bean Image' %>
        <p class="card-text"><strong>原産地:</strong> <%= @post.bean_origin %></p>
        <p class="card-text">
          <strong>焙煎度:</strong>
          <div class="star-rating d-flex justify-content-between">
            <% 5.times do |i| %>
              <% if i < @post.bean_roast.to_i %>
                <span class="fa fa-star checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between">
            <small class="form-text text-muted">浅煎り</small>
            <small class="form-text text-muted">中煎り</small>
            <small class="form-text text-muted">深煎り</small>
          </div>
        </p>
        <p class="card-text">
          <strong>酸味:</strong>
          <div class="star-rating d-flex justify-content-between">
            <% 5.times do |i| %>
              <% if i < @post.bean_acidity.to_i %>
                <span class="fa fa-star checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between">
            <small class="form-text text-muted">控えめ</small>
            <small class="form-text text-muted">酸味</small>
            <small class="form-text text-muted">強め</small>
          </div>
        </p>
        <p class="card-text">
          <strong>苦味:</strong>
          <div class="star-rating d-flex justify-content-between">
            <% 5.times do |i| %>
              <% if i < @post.bean_bitter.to_i %>
                <span class="fa fa-star checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between">
            <small class="form-text text-muted">控えめ</small>
            <small class="form-text text-muted">苦味</small>
            <small class="form-text text-muted">強め</small>
          </div>
        </p>
        <p class="card-text"><strong>抽出方法:</strong> <%= @post.bean_extraction %></p>
        <p class="card-text"><strong>ボディ:</strong> <%= @post.bean_body %></p>
        <div class="d-flex justify-content-between mb-4">
          <% if current_user == @post.user %>
            <%= link_to '編集', edit_post_path(@post), class: 'btn btn-secondary' %>
            <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          <% end %>
          <%= link_to '戻る', posts_path, class: 'btn btn-primary' %>
        </div>

        <!-- コメントフォーム -->
        <% unless @post.comments.exists?(user: current_user) %>
          <h5>コメントを残す</h5>
          <%= form_with(model: [@post, @post.comments.find_or_initialize_by(user: current_user)], local: true) do |form| %>
            <div class="form-group">
              <%= form.text_area :comment_body, class: 'form-control', rows: 3, placeholder: 'コメントを入力してください' %>
            </div>
            <%= form.submit '送信', class: 'btn btn-primary' %>
          <% end %>
        <% end %>

        <!-- コメント一覧の表示 -->
        <h5>コメント</h5>
        <div class="list-group mb-4">
          <% if @post.comments.empty? %>
            <div class="col-md-12 text-center">
              <h2><span class="material-symbols-outlined" style="font-size: 40px; vertical-align: middle;">info</span><span style="vertical-align: middle;">まだコメントがありません。</span></h2>
            </div>
          <% else %>
            <% @post.comments.each do |comment| %>
              <div class="comment bg-light p-2 mb-2 rounded">
                <p><strong><%= comment.user.name %>:</strong> <%= comment.comment_body %></p>
                <div class="d-flex justify-content-end">
                  <% if current_user == comment.user %>
                    <%= link_to '編集', edit_post_comment_path(@post, comment), class: 'btn btn-sm btn-secondary mr-2' %>
                    <%= link_to '削除', post_comment_path(@post, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

