<h1>New Comment</h1>

<%= form_with(model: [@post, @comment], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :comment_body %>
    <%= form.text_area :comment_body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create Comment', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', post_path(@post) %>