<div class="row mb-4">
  <div class="col-md-6">
    <h1>My Page</h1>
  </div>
</div>

<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">投稿</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">コメント</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
    <div class="row">
      <div class="col-md-4">
        <h2>ユーザー情報</h2>
        <div class="card">
          <div class="card-body text-center">
            <% if current_user.user_image.attached? %>
              <%= image_tag current_user.user_image.variant(resize_to_fill: [300, 300]).processed, class: 'rounded-circle', alt: 'User Image' %>
            <% else %>
              <%= image_tag 'coffee.jpg', size: "300x300", class: 'rounded-circle', alt: 'Default User Image' %>
            <% end %>
            <h5 class="card-title mt-3"><%= current_user.name %></h5>
            <p class="card-text"><strong>Email:</strong> <%= current_user.email %></p>
            <p class="card-text"><strong>Introduction:</strong> <%= current_user.introduction %></p>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <h2>投稿一覧</h2>
        <% current_user.posts.each do |post| %>
          <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex">
                <div class="user-info mr-3">
                  <% if post.user.user_image.attached? %>
                    <%= image_tag post.user.user_image.variant(resize_to_fill: [60, 60]).processed, class: 'rounded-circle', alt: 'User Image' %>
                  <% else %>
                    <%= image_tag 'coffee.jpg', size: "60x60", class: 'rounded-circle', alt: 'Default User Image' %>
                  <% end %>
                </div>
                <div>
                  <h5><%= post.user.name %></h5>
                </div>
              </div>
              <div class="d-flex mt-3">
                <div class="post-image mr-3 d-flex justify-content-center align-items-center">
                  <% if post.bean_image.attached? %>
                    <%= image_tag post.bean_image.variant(resize_to_fill: [200, 200]).processed, class: 'img-thumbnail', alt: 'Bean Image' %>
                  <% else %>
                    <%= image_tag 'bean.jpg', size: "200x200", class: 'img-thumbnail', alt: 'Default Bean Image' %>
                  <% end %>
                </div>
                <div class="post-details flex-grow-1 align-items-center">
                  <h5 class="card-title"><%= post.bean_title %></h5>
                  <p><strong>Origin:</strong> <%= post.bean_origin %></p>
                  <p>
                    <strong>Roast:</strong>
                    <div class="star-rating d-flex justify-content-between">
                      <% 5.times do |i| %>
                        <% if i < post.bean_roast.to_i %>
                          <span class="fa fa-star checked"></span>
                        <% else %>
                          <span class="fa fa-star"></span>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="d-flex justify-content-between">
                      <small class="form-text text-muted">浅煎り</small>
                      <small class="form-text text-muted">中煎り</small>
                      <small class="form-text text-muted">深煎り</small>
                    </div>
                  </p>
                  <p>
                    <strong>Acidity:</strong>
                    <div class="star-rating d-flex justify-content-between">
                      <% 5.times do |i| %>
                        <% if i < post.bean_acidity.to_i %>
                          <span class="fa fa-star checked"></span>
                        <% else %>
                          <span class="fa fa-star"></span>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="d-flex justify-content-between">
                      <small class="form-text text-muted">少</small>
                      <small class="form-text text-muted">酸味</small>
                      <small class="form-text text-muted">多</small>
                    </div>
                  </p>
                  <p>
                    <strong>Bitterness:</strong>
                    <div class="star-rating d-flex justify-content-between">
                      <% 5.times do |i| %>
                        <% if i < post.bean_bitter.to_i %>
                          <span class="fa fa-star checked"></span>
                        <% else %>
                          <span class="fa fa-star"></span>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="d-flex justify-content-between">
                      <small class="form-text text-muted">少</small>
                      <small class="form-text text-muted">苦味</small>
                      <small class="form-text text-muted">多</small>
                    </div>
                  </p>
                  <p><strong>Extraction:</strong> <%= post.bean_extraction %></p>
                  <p><strong>Body:</strong> <%= post.bean_body %></p>
                  <p><strong>Created At:</strong> <%= post.created_at.strftime("%Y-%m-%d") %></p>
                  <div class="d-flex justify-content-between mt-2">
                    <%= link_to 'Show', post, class: 'btn btn-primary' %>
                    <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-secondary' %>
                    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
    <div class="row">
      <div class="col-md-4">
        <h2>ユーザー情報</h2>
        <div class="card">
          <div class="card-body text-center">
            <% if current_user.user_image.attached? %>
              <%= image_tag current_user.user_image.variant(resize_to_fill: [300, 300]).processed, class: 'rounded-circle', alt: 'User Image' %>
            <% else %>
              <%= image_tag 'coffee.jpg', size: "300x300", class: 'rounded-circle', alt: 'Default User Image' %>
            <% end %>
            <h5 class="card-title mt-3"><%= current_user.name %></h5>
            <p class="card-text"><strong>Email:</strong> <%= current_user.email %></p>
            <p class="card-text"><strong>Introduction:</strong> <%= current_user.introduction %></p>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <h2>コメント一覧</h2>
        <% current_user.comments.each do |comment| %>
          <div class="card mb-4">
            <div class="card-body">
              <!-- コメントの表示 -->
              <p><strong>投稿:</strong> <%= link_to comment.post.bean_title, post_path(comment.post) %></p>
              <p><%= comment.comment_body %></p>
              <p><strong>Created At:</strong> <%= comment.created_at.strftime("%Y-%m-%d") %></p>
              <div class="d-flex justify-content-between mt-2">
                <%= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-secondary' %>
                <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




