<h1>Posts</h1>

<div class="row mt-4">
  <% @posts.each do |post| %>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body d-flex">
          <div class="user-info mr-3">
            <h5><%= post.user.name %></h5>
            <% if post.user.user_image.attached? %>
              <%= image_tag post.user.user_image.variant(resize_to_fill: [60, 60]).processed, class: 'rounded-circle', alt: 'User Image' %>
            <% else %>
              <%= image_tag 'coffee.jpg', size: "60x60", class: 'rounded-circle', alt: 'Default User Image' %>
            <% end %>
          </div>
          <div class="post-content d-flex">
            <div class="post-image mr-3">
              <% if post.bean_image.attached? %>
                <%= image_tag post.bean_image.variant(resize_to_fill: [200, 200]).processed, class: 'img-thumbnail', alt: 'Bean Image' %>
              <% else %>
                <%= image_tag 'bean.jpg', size: "200x200", class: 'img-thumbnail', alt: 'Default Bean Image' %>
              <% end %>
            </div>
            <div class="post-details">
              <p><strong>Title:</strong> <%= post.bean_title %></p>
              <p><strong>Origin:</strong> <%= post.bean_origin %></p>
              <p><strong>Roast:</strong> <%= post.bean_roast %></p>
              <p><strong>Created At:</strong> <%= post.created_at.strftime("%Y-%m-%d") %></p>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <%= link_to 'Show', post, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path, class: 'btn btn-success mt-4' %>