  <div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center">
        <% if @post.user.user_image.attached? %>
          <%= image_tag @post.user.user_image.variant(resize_to_fill: [40, 40]).processed, class: 'rounded-circle mr-2', alt: 'User Image' %>
        <% else %>
          <%= image_tag 'coffee.jpg', size: "60x60", class: 'rounded-circle', alt: 'Default User Image' %>
        <% end %>
        <h5 class="card-title m-0">
          <%= link_to @post.user.name, user_path(@post.user), class: 'text-dark' %>
        </h5>
      </div>
      <div class="card-body">
        <% if @post.bean_image.attached? %>
          <%= image_tag @post.bean_image.variant(resize_to_fill: [600, 600]).processed, class: 'card-img-top', alt: 'Bean Image' %>
        <% else %>
          <%= image_tag 'bean.jpg', size: "600x600", class: 'card-img-top', alt: 'Default Bean Image' %>
        <% end %>
        <p class="card-text"><strong>Origin:</strong> <%= @post.bean_origin %></p>
        <p class="card-text">
          <strong>Roast:</strong> 
          <div class="star-rating d-flex justify-content-between">
            <% 5.times do |i| %>
              <% if i < @post.bean_roast.to_i %>
                <span class="fa fa-star checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between">
            <small class="form-text text-muted">浅煎り</small>
            <small class="form-text text-muted">中煎り</small>
            <small class="form-text text-muted">深煎り</small>
          </div>
        </p>
        <p class="card-text">
          <strong>Acidity:</strong> 
          <div class="star-rating d-flex justify-content-between">
            <% 5.times do |i| %>
              <% if i < @post.bean_acidity.to_i %>
                <span class="fa fa-star checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between">
            <small class="form-text text-muted">控えめ</small>
            <small class="form-text text-muted">酸味</small>
            <small class="form-text text-muted">強め</small>
          </div>
        </p>
        <p class="card-text">
          <strong>Bitterness:</strong> 
          <div class="star-rating d-flex justify-content-between">
            <% 5.times do |i| %>
              <% if i < @post.bean_bitter.to_i %>
                <span class="fa fa-star checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between">
            <small class="form-text text-muted">控えめ</small>
            <small class="form-text text-muted">苦味</small>
            <small class="form-text text-muted">強め</small>
          </div>
        </p>
        <p class="card-text"><strong>Extraction:</strong> <%= @post.bean_extraction %></p>
        <p class="card-text"><strong>Body:</strong> <%= @post.bean_body %></p>
        <div class="d-flex justify-content-between">
          <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary' %>
          <%= link_to 'Back', posts_path, class: 'btn btn-primary' %>
          <% if current_user == @post.user %>
            <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


