<h1><%= current_user.name %>いいねした投稿一覧</h1>

<div class="row mt-4">
  <% if @favorites.any? %>
    <% @favorites.each do |favorite| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body d-flex">
            <div class="user-info mr-3">
              <% if favorite.post.user %>
                <% if current_user == favorite.post.user %>
                  <%= link_to mypage_path, class: 'text-dark' do %>
                    <h5><%= favorite.post.user.name %></h5>
                    <%= image_tag favorite.post.user.get_image.variant(resize_to_fill: [60, 60]).processed, class: 'rounded-circle', alt: 'ユーザー画像' %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(favorite.post.user), class: 'text-dark' do %>
                    <h5><%= favorite.post.user.name %></h5>
                    <%= image_tag favorite.post.user.get_image.variant(resize_to_fill: [60, 60]).processed, class: 'rounded-circle', alt: 'ユーザー画像' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="post-content d-flex w-100">
              <div class="post-image mr-3">
                <%= image_tag favorite.post.get_image.variant(resize_to_fill: [200, 200]).processed, class: 'img-thumbnail', alt: 'コーヒー豆画像' %>
              </div>
              <div class="post-details flex-grow-1">
                <h5 class="card-title"><%= favorite.post.bean_title %></h5>
                <p><strong>原産地:</strong> <%= favorite.post.bean_origin %></p>
                <p>
                  <strong>焙煎度:</strong>
                  <div class="star-rating d-flex justify-content-between">
                    <% 5.times do |i| %>
                      <% if i < favorite.post.bean_roast.to_i %>
                        <span class="fa fa-star checked"></span>
                      <% else %>
                        <span class="fa fa-star"></span>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="d-flex justify-content-between">
                    <small class="form-text text-muted">浅煎り</small>
                    <small class="form-text text-muted">中煎り</small>
                    <small class="form-text text-muted">深煎り</small>
                  </div>
                </p>
                <p>
                  <strong>酸味:</strong>
                  <div class="star-rating d-flex justify-content-between">
                    <% 5.times do |i| %>
                      <% if i < favorite.post.bean_acidity.to_i %>
                        <span class="fa fa-star checked"></span>
                      <% else %>
                        <span class="fa fa-star"></span>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="d-flex justify-content-between">
                    <small class="form-text text-muted">控えめ</small>
                    <small class="form-text text-muted">酸味</small>
                    <small class="form-text text-muted">強め</small>
                  </div>
                </p>
                <p>
                  <strong>苦味:</strong>
                  <div class="star-rating d-flex justify-content-between">
                    <% 5.times do |i| %>
                      <% if i < favorite.post.bean_bitter.to_i %>
                        <span class="fa fa-star checked"></span>
                      <% else %>
                        <span class="fa fa-star"></span>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="d-flex justify-content-between">
                    <small class="form-text text-muted">控えめ</small>
                    <small class="form-text text-muted">苦味</small>
                    <small class="form-text text-muted">強め</small>
                  </div>
                </p>
                <p><strong>投稿日:</strong> <%= favorite.post.created_at.strftime("%Y-%m-%d") %></p>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
              <%= link_to '詳細', favorite.post, class: 'btn btn-primary mr-2' %>
            </div>
            <div>
              <span class="text-muted"><%= favorite.post.favorites.count %> <span class="material-symbols-outlined", style="font-size: 20px; vertical-align: middle;">favorite</span︎></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-12 text-center">
      <h2><span class="material-symbols-outlined" style="font-size: 40px; vertical-align: middle;">info</span><span style="vertical-align: middle;">いいねした投稿がありません</span></h2>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-between mt-4">
  <div>
    <%= paginate @favorites %>
  </div>
</div>


<%= link_to '戻る', user_path(@user), class: 'btn btn-secondary mt-3' %>
