<!DOCTYPE html>
<html>
  <head>
    <title>BeanBuzz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/a4a21ce09e.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
      <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'public/shared/header' %>
    <div class="container px-sm-0">
      <div class="row">
        <% if notice.present? %>
          <div class="col-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= notice %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="col-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= alert %>
              <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <div class="container mt-4">
      <%= yield %>
    </div>
    <%= render 'public/shared/footer' %>
    
  </body>
</html>
